@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 245, 245, 247;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow-x: hidden;
  /* Hapus font-family variable kalau error, tapi kalau jalan biarkan */
}

/* HAPUS SEMUA YANG ADA TULISAN LENIS DI BAWAH SINI */